APP_NAME="Vani Setu"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://vanisetu.rajyasabha.digital
TRUSTED_PROXIES=10.42.0.0/16,172.16.0.0/12,127.0.0.1
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=strict
CORS_ALLOWED_ORIGINS=https://vanisetu.rajyasabha.digital
SANCTUM_TOKEN_EXPIRATION=480
SANCTUM_TOKEN_PREFIX=vst_

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=vani_setu
DB_USERNAME=vani
DB_PASSWORD=vani_secret

BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_ADMIN_EMPLOYEE_ID=

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=vanisetu.rajyasabha.digital
REVERB_PORT=443
REVERB_SCHEME=https

SANCTUM_STATEFUL_DOMAINS=vanisetu.rajyasabha.digital

SB_IAM_URL=https://ft.rajyasabha.digital
SB_IAM_CLIENT_ID=
SB_IAM_CLIENT_SECRET=
