test.js
videos
server/node_modules
myapp/node_modules
mynest/node_modules
myvue/node_modules
project-01/node_modules
project-02/node_modules
trafficlight/node_modules
laravel11/vendor
laravel11/node_modules
angular/node_modules
