@import "components/index.css";
/*@import "components/typography.css";
@import "components/form.css";
@import "components/date-picker.css";
@import "components/widget.css";
@import "components/table.css";
@import "app/calander.css";
@import "components/animation.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    
    body {
        @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
    }

    body.light, 
    body.skin--default {
        @apply bg-slate-100;
    }

    body.lght, 
    body.skin--bordered {
        @apply bg-gradient-to-r from-violet-50/90 to-violet-500/90 ;
        @apply dark:bg-gradient-to-r dark:from-slate-900/90 dark:to-slate-700/90;
       
        /* @apply bg-transparent; */
        /* background: linear-gradient(-90deg, #409eff 0.01%, #edc8ff) !important */
        /* background: linear-gradient(-90deg, #ffbec2 0.01%, #edc8ff),
                url('/assets/images/all-img/page-bg.jpg') no-repeat center center / cover !important;
    background-blend-mode: overlay; 
    opacity:    1; Keep full opacity */
    }

    body.dark {
        @apply bg-[#0f172a];
    }

    html, body {
        @apply h-full;
    }

    .app-wrapper {
        @apply relative;
    }

    .space-x-rb > div,
    .space-x-rb > button,
    .space-x-rb > a {
        @apply mr-3 mb-3;
    }

    .card-border-b {
        @apply border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6 mb-6;
    }

    /* Scrollbar Styles */
    .light .simplebar-scrollbar:before {
        @apply bg-slate-600;
    }

    .light .simplebar-scrollbar.simplebar-visible:before {
        @apply opacity-30;
    }

    .dark .simplebar-scrollbar:before {
        @apply bg-slate-700;
    }

    .dark .simplebar-scrollbar.simplebar-visible:before {
        @apply opacity-100;
    }

    .nav-tools > span {
        @apply flex;
    }

    .rounded-circle {
        border-radius: 100% !important;
    }

    .custom-dropshadow {
        filter: drop-shadow(0px 2px 4px rgba(40, 41, 61, 0.04))
            drop-shadow(0px 8px 16px rgba(96, 97, 112, 0.16));
    }

    .dark .custom-dropshadow {
        filter: drop-shadow(0px 2px 4px rgba(40, 41, 61, 0.8))
            drop-shadow(0px 8px 16px rgba(96, 97, 112, 0.16));
    }

    /* ApexChart Legends Styling */
    .legend-ring .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4 ring-primary-500 ring-opacity-30 ;
    }

    .legend-ring .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
        @apply ring-4 ring-info-500 ring-opacity-30 ;
    }

    .legend-ring2 .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4 ring-info-500 ring-opacity-30 ;
    }

 
}

@layer components {
    

    .card-auto .card {
        @apply h-auto;
    }

    .Vue-Toastification__toast.dashcode-toast {
        @apply font-sans text-sm shadow-base rounded-md;
    }
    input[type="checkbox" i] {      
        accent-color: #a855f7 !important;       
    }
    
      /* select:hover option {
        background-color: #a855f7 !important;
        color: #ffffff !important;
    } */
    /* select option:hover {
        background-color: #a855f7 !important;
        color: #ffffff !important;
    } */
}

@layer utilities {
    /* Add custom utility classes here if needed */
}


.dark .multiselect__tags, .dark .multiselect__single,
.dark .multiselect__content-wrapper, .dark .multiselect__option--highlight, .dark .multiselect__option--selected.multiselect__option--highlight,
.dark .multiselect__option--selected, .dark .multiselect__option--highlight,
.dark .multiselect__input,
.dark .multiselect--above.multiselect--active .multiselect__current, .multiselect--above.multiselect--active .multiselect__input, .multiselect--above.multiselect--active .multiselect__tags{
  @apply dark:bg-slate-800 text-slate-100 border border-slate-700;
}