services:
    srv_nest_dev:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: ctr_nest_dev
        profiles:
            - dev
        ports:
            - "3000:3000"
        volumes:
            - .:/app
            - /app/node_modules
        env_file:
            - .env.development
        environment:
            - CHOKIDAR_USEPOLLING=true
            - CHOKIDAR_INTERVAL=100
        networks:
            - nestjs
networks:
    nestjs:
        driver: bridge
